/* ================================================================== BASE == */

:root {
  /* -------------------------------------------------------------- colors -- */
  --slate-900: hsl(218, 44%, 22%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-300: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);

  /* ---------------------------------------------------------- typography -- */
  --ff-primary: "Outfit", "Open Sans", sans-serif;

  /* ------------------------------------------------------------- spacing -- */
  --spacing-500: 2.5rem;
  --spacing-300: 1.5rem;
  --spacing-100: 1rem;
}





/* ================================================================ RESET == */

*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}





/* ================================================================ LAYOUT == */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-300);
  background-color: var(--slate-300);
}

.card {
  
  padding: var(--spacing-100);
  padding-block-end: var(--spacing-500);

  background-color: var(--white);
  border-radius: 20px;

  text-align: center;
}

img {
  margin-block-end: var(--spacing-300);
}

.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: var(--spacing-100);
  background-color: var(--slate-900);
  color: var(--slate-300);
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: inherit;
}





/* ============================================================ TYPOGRAPHY == */

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

p {
  font-size: 15px;
  line-height: 1.4;
}





/* ================================================================= UTILS == */